export(JS_divergence)
export(cite_articles)
export(dfr_id_url)
export(doc_lengths)
export(doc_topics_frame)
export(doc_topics_long)
export(doc_topics_matrix)
export(doc_topics_wide)
export(docs_frame)
export(filename_id)
export(get_instance)
export(id_filename)
export(instance_text)
export(instance_vector)
export(instances_ids)
export(instances_term_document_matrix)
export(instances_vocabulary)
export(items_time_histogram)
export(journal_year_matrix)
export(make_instances)
export(model_documents)
export(model_params)
export(normalize_doc_topics)
export(output_model)
export(overall_counts)
export(pubdate_Date)
export(read_citations)
export(read_dfr)
export(read_dfr_wordcounts)
export(read_diagnostics)
export(read_instances)
export(read_metadata)
export(read_simplified_state)
export(read_topic_words)
export(remove_rare)
export(row_dists)
export(series_frame_zoo)
export(simplify_state)
export(term_document_topic_matrix)
export(term_year_matrix)
export(term_year_matrix_journal)
export(term_year_series_frame)
export(term_year_topic_matrix)
export(term_yearly_lineplot)
export(term_yearly_topic_lineplot)
export(tf_idf)
export(top_documents)
export(top_topics)
export(topic_dist_plot)
export(topic_divergences)
export(topic_keyword_plot)
export(topic_labeler)
export(topic_labeller)
export(topic_name)
export(topic_names)
export(topic_proportions_series_frame)
export(topic_report)
export(topic_term_time_series)
export(topic_time_boxplots)
export(topic_top_words)
export(topic_word_scores)
export(topic_year_matrix)
export(topic_year_meta)
export(topic_yearly_barplot)
export(topic_yearly_journals_plot)
export(topic_yearly_lineplot)
export(topic_yearly_top_words)
export(train_model)
export(tw_wkf)
export(weighted_keys_frame)
export(write_diagnostics)
export(write_instances)
export(write_mallet_state)
export(write_topic_words)
export(yearly_series_frame)
export(zoo_series_frame)
export(zoo_yearly)
